/*Provides the background color for the body of the htmls*/
body {
    background-color: #d9dcd6;
}




/* Formatting for all of the pages */
h1 {
    display: inline-block;
    font-size: 100%;
    font-family: 'Cinzel Decorative', cursive;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-family: 'Courier New';
}

h3 {
    font-size: 20px;
}

.img-fluid {
    width: 100%;
    max-width: 400px;
}
            /*Provides background color for the different columns in the index page*/
                .aboutMe {background-color:silver}
                .Education {
                    background-color:silver;
                    padding-top: 2%;
                    padding-left: 2%;
                    margin-bottom: 2%;
                }
                .Skills {
                    background-color:silver;
                    padding-left: 15%;}
                #titleSkills {
                    margin-right: 2%;
                }
                .europe {background-color: silver;}

                .frazierGroup {
                    background-color: silver;
                }

                .KBH {
                    background-color: silver;
                }



/*Formatting solely for the portfolio page*/
.portfolioContainer {
    margin-bottom: 5%;
}

.card {
    margin-bottom: 5%
}
.card-img-top {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




.navFont {
    font-size: 20px;
}



.footer-copyright.text-center.py-3 {
    background-color: silver;

}



/*Provides formatting for the three htmls that overrides bootstrap*/
@media screen and (max-width: 700px) {
    .nav-bar {
       padding: 0;
        width: 640px;
        position: absolute;
    } 
 .container {
         width: 100%;
     }
}